.fx_circle-loading {
  position: relative;
  display: flex;
  width: 280rpx;
  height: 280rpx;
  justify-content: center;
  align-items: center;

  &-content {
    position: absolute;
    width: 250rpx;
    height: 250rpx;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &-line-1,
    &-line-2,
    &-line-3 {
      transform-origin: center;
      transform: translate(-50%, -50%);
      position: absolute;
      top: 50%;
      left: 50%;
      border-radius: 50%;
      background-color: #fff;
    }

    &-line-1 {
      width: 250rpx;
      height: 250rpx;
      box-shadow: 0px 0px 0px 20px #fff;
      border: 8rpx solid rgba(0, 65, 255, 0.3);
      border-left-color: transparent;
      animation: rotate-clockwise 1500ms infinite linear;
    }
    &-line-2 {
      width: 210rpx;
      height: 210rpx;
      border: 8rpx solid rgba(0, 65, 255, 0.5);
      border-right-color: transparent;
      animation: rotate-counterclockwise 1500ms infinite linear;
    }
    &-line-3 {
      width: 170rpx;
      height: 170rpx;
      border: 8rpx solid #0041ff;
      border-top-color: transparent;
      animation: rotate-clockwise 1500ms infinite linear;
    }

    &-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 111111;
    }
  }
}

@keyframes rotate-clockwise {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes rotate-counterclockwise {
  0% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}
