.fx_line-loading {
  z-index: 999;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  $loadbar-height: 4px;
  $loadbar-bg: #1b1b1c;
  $light-color: #ff6666;

  width: 100%;
  height: $loadbar-height;
  background-color: $loadbar-bg;

  position: relative;
  overflow: hidden;

  &-light {
    $light-side-color: transparentize($light-color, 1);

    width: 300px;
    height: $loadbar-height;
    background-color: $light-color;
    background: linear-gradient(90deg, $light-side-color, $light-color 40%, $light-color 50%, $light-side-color 80%);

    position: absolute;
    left: 0;

    animation: light-animation 1.2s linear infinite;
    will-change: left;
  }
}

@keyframes light-animation {
  0% {
    left: -30%;
  }
  100% {
    left: 101%;
  }
}
