$themeColor: #666;
// @import './assets/iconfont/iconfont.css';

page {
  font-size: 24rpx;
  color: $themeColor;
  min-height: 100vh;
  max-width: 100vw;
  box-sizing: border-box !important;
  padding: 0 !important;
  overflow-x: hidden !important;
  background-color: #fefefe !important;
}
