.card-filp {
  position: relative;
  transform-style: preserve-3d;
  transition: 900ms ease-in-out;
  height: 480px;
  width: 100%;

  .front,
  .back {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
  }
  .back {
    transform: rotateY(180deg);
  }

  &.reverse {
    transform: rotateY(180deg);
  }
}
